<img src="">
<div class="flex flex-col items-center justify-center p-4 space-y-4">
    <input type="password" [(ngModel)]="password" placeholder="Enter your password"
        class="px-4 py-2 border-2 border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 w-80" />

    <button (click)="TestStrength()"
        class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400">
        Check Password
    </button>
</div>